#about {
    padding: 100px 0;
    background-color: rgb(2, 0, 12);
    color: white;
}
#about h4 {
 font-size: 42px;
 margin-bottom: 20px;
 font-weight: 600;
}
#about h3{
 font-size: 32px;
 margin-bottom: 30px;
}

#about p{
    font-size: 18px;
    width: 80%;
    line-height: 50px;
    margin-bottom: 80px;
}
#about .box_mini img{
    width: 70%;
    height: 50%;
    margin: 0 auto;  
}
#about .box_mini{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: rgb(2, 12, 22);
    border-radius: 20px;
    margin-bottom: 25px;
   transition: 0.5s;
   border: 1px solid salmon;

}

#about .mini_card h5{
    font: 24px;
    font-weight: 600;
}

